.main_navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 1em;
}

.navigation_item {
  flex-grow: 1;
  text-decoration: none;
  font-family: 'Poiret One';
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #fff;
  flex:1;
}

.navigation_item:hover {
  color: #6774F5;
}

.logo_container {
  flex-grow: 1;
  max-width: 200px;
  flex:1;
}


.logo_img { 
  max-width: 100%; 
  transition: all .3s ease-in;
  min-width: 100px;
}

.logo_img:hover {
  transform: scale(1.1);
}

/* // This applies from 400px onwards */
@media (min-width: 400px) {
  .main_navigation{ padding: 1em; }
}

/* // This applies to 600px and less */
@media (max-width: 600px) {
  .main_navigation { font-size: .7em; }
  .logo_img { min-width: 60px; }
  .navigation_item_home { display: none; }
  .logo_container { order: 1 }
  .navigation_item_instructors { order: 2 }
  .navigation_item_schedule { order: 3 }
  .navigation_item_getinvolved { order: 4 }
}
